.pastWorkoutsContainer {
  padding-top: 50px;
}

.videoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.video {
  width: 640px;
  height: 480px;
}

.video:focus {
  outline: none;
}

.statContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.label {
  margin: 0px 20px;
}

.screenShot {
  height: 75px;
}

.workout {
  padding: 10px 0px;
  margin-bottom: 40px;
  border: solid 3px black;
  text-align: center;
}

.workout:hover {
  border: solid 3px #f45342;
  cursor: pointer;
  background-color: #555;
}

.workoutsHeader {
  padding-bottom: 20px;
  text-align: center;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
}

.loadingSpinner {
  height: 100%;
}

.recordedVideosContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      #f45342,
      rgba(0, 0, 0, 0)
    )
    1;
  margin-bottom: 20px;
}

.recordedVideo {
  margin: 10px;
  border: solid 3px black;
  transform: scaleX(-1);
}

.recordedVideo:hover {
  border: solid 3px #f45342;
  cursor: pointer;
}