.newRecordingContainer {
  padding-top: 50px;
}

.debugContainer {
  display: flex;
  justify-content: center;
}

.videoButtonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

video {
  display: none;
}

.canvas {
  margin: 20px auto;
  display: block;
  max-width: 640px;
  width: 100%;
}

.notRecording {
  border-radius: 20px;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      #f45342,
      rgba(0, 0, 0, 0)
    )
    1;
}

.recordedVideo {
  margin: 10px;
}

.recordedVideo:after {
  position: relative;
  display: inline-block;
  content: "";
  border-right: solid 3px blue;
  width: 10px;
  height: 10px;
}

.recordedVideosContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 75px;
  border: solid red 5px;
  margin-bottom: 20px;
}

.videoRecording {
  border-radius: 20px;
  border: 10px solid red;
}

.videoControl {
  margin: 0 20px;
}
.spacer {
  padding-bottom: 15px;
}
