.newRecordingContainer {
  padding-top: 50px;
}

.video {
  border-radius: 20px;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      #f45342,
      rgba(0, 0, 0, 0)
    )
    1;
}

.videoRecording {
  border-radius: 20px;
  border: 10px solid red;
}

.record {
  background-color: red;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 15px;
}

.stop {
  background-color: black;
  width: 30px;
  height: 30px;
  margin: 20px;
}

.button {
  border-radius: 20%;
  border: none;
  box-shadow: 5px 5px #f45342;
} 

.button:focus {
  outline: 0;
}

.videoButtons {
  justify-content: center;
  padding: 20px 0;
}

.spacer {
  padding-bottom: 15px;
}
