.createButton {
  margin-right: 50px;
  padding: 10px 50px !important;
  text-transform: uppercase;
}

.createContainer {
  margin-top: 50px;
  padding-bottom: 30px;
}

.createForm {
  padding-top: 40px;
}

.errorMessage {
  color: red;
  font-size: 30px;
  font-style: bold;
}

.invalidInput {
  border: 4px solid red !important;
}

.loadingSpinner {
  height: 80px;
}

.passwordHelpers {
  color: red;
  padding-top: 20px;
  line-height: 0.5rem;
}

.spacer {
  padding-bottom: 15px;
}
