.landingContainer {
    padding-top: 50px;
    text-align: center;
}

.contentRow {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.screenshots {
    width: 100%;
}

.signupButton {
    margin: 0 10px;
}

.highlightColor {
    color: #f45342;
}

.category, .subCategory {
    font-family: "Righteous", cursive;
}

.subCategory {
    font-size: 2em;
}

.category {
    font-size: 4em;
}