.category,
.subCategory {
  font-family: "Righteous", cursive;
}

.category {
  font-size: 4rem;
}

.contentRow {
  align-items: center;
  display: flex;
  padding-bottom: 50px;
}

.highlightColor {
  color: #f45342;
}

.landingContainer {
  padding-top: 50px;
  text-align: center;
}

.screenshots {
  width: 100%;
}

.signupButton {
  margin: 0 10px;
}

.subCategory {
  font-size: 2rem;
}