.error {
  color: #f45342;
  font-size: 2rem;
  padding-bottom: 10px;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loadingSpinner {
  height: 80px;
}

.newWorkoutContainer {
  padding-top: 50px;
}

.spacer {
  padding-bottom: 15px;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
}

.timeCategory {
  font-size: 2rem;
}
