.notFoundBackground {
    background: url("../../assets/images/boxer-404.jpg") no-repeat center center fixed;
    background-color: black;
    height: 750px;
}

.notFoundContainer {
    align-items: center;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.errorHeader {
    font-size: 100px;
    font-weight: bolder;
}